[tasks.wasm-build]
workspace = false
command = "wasm-pack"
args = [
  "build",
  "lacon-workspace/wasm",
  "--target",
  "nodejs",
  "--out-dir",
  "../../dist/wasm",
  "--release",
  "--no-pack",
]

[tasks.lsp-build]
workspace = false
script = [
  "cargo build -p lsp --release",
  "cp dist/target/release/lsp.exe dist/lsp.exe",
]
